/NetBeans-espaciodetrabajo/nbproject/private/
/NetBeans-AccesoADatos/nbproject/private/
/NetBeans-ServiciosyProcesos/nbproject/private/
/ServiciosyProcesos-Layout/nbproject/private/
/ServiciosyProcesos-Layout/build/
/AccesoADatos/Ejercicios.T2/nbproject/private/
/AccesoADatos/Ejercicios.T2/build/
/AccesoADatos/AccesoAFicherosXML/nbproject/private/
/Servicios y Procesos/Tema01.Ejemplos/nbproject/private/
/Servicios y Procesos/Tema01.Ejemplos/build/
/AccesoADatos/AccesoAFicherosXML/build/
/LibreConfiguracion-Layout/nbproject/private/
/LibreConfiguracion-Layout/build/
/LibreConfiguracion-Layout/dist/
/Servicios y Procesos/hilosNetBeans/JavaApplication2/nbproject/private/
/Servicios y Procesos/hilosNetBeans/JavaApplication2/build
/Servicios y Procesos/hilosNetBeans/nbproject/private/
/Servicios y Procesos/hilosNetBeans/build/
/AccesoADatos/T02ManejoFicherosValidacionYBinding/nbproject/private/
/AccesoADatos/U02.ValidacionyBinding/nbproject/private/
/AccesoADatos/JAXB_ALBARAN/nbproject/private/
/AccesoADatos/JAXB_ALBARAN/build/
/LibreConfiguracion/EjCardLayout/nbproject/private/
/LibreConfiguracion/EjCardLayout/build/
Eclipse-DesarrolloDeInterfaces/.metadata/.log
Eclipse-DesarrolloDeInterfaces/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/AccesoADatos/U03.BasesDeDatos/nbproject/private/
/AccesoADatos/U03.BasesDeDatos/build/
/AccesoADatos/U03.BasesDeDatos/dist/
/AccesoADatos/GroupLayout/nbproject/private/
/AccesoADatos/GroupLayout/build/
/AccesoADatos/Buscaminas/nbproject/private/
/AccesoADatos/Buscaminas/build/
/DesarrolloDeInterfaces/Pruebas/nbproject/private/
/DesarrolloDeInterfaces/Pruebas/build/
/DesarrolloDeInterfaces/AplicacionEscritorio/nbproject/private/
/DesarrolloDeInterfaces/AplicacionEscritorio/build/
/LibreConfiguracion/Buscaminas/dist/
/Servicios y Procesos/P1.ManejoFicherosSergioMoreno/nbproject/private/
/Servicios y Procesos/P1.ManejoFicherosSergioMoreno/build/
/LibreConfiguracion/Pong/nbproject/private/
/LibreConfiguracion/Pong/build/
/AccesoADatos/Practica01 ManejoFicheros/nbproject/private/
/AccesoADatos/Practica01 ManejoFicheros/build/
/Servicios y Procesos/hilosNetBeans/dist/
/AccesoADatos/Hibernate/nbproject/private/
/AccesoADatos/Hibernate02/nbproject/private/
/AccesoADatos/Hibernate/build/
/AccesoADatos/Hibernate_2/nbproject/private/
/AccesoADatos/HibernateNew/nbproject/private/
/Hibernate802/nbproject/private/
/Hibernate802/build
/hibernate/nbproject/private/
/hibernate/build/
/Servicios y Procesos/ClienteServidor/nbproject/private/
/Servicios y Procesos/ClienteServidor/build/
/AccesoADatos/ActividadClase/nbproject/private/
/AccesoADatos/HibernateNew/build/
/AccesoADatos/ProtocoloTCP/nbproject/private/
/Servicios y Procesos/ProtocoloTCP/nbproject/private/
/Servicios y Procesos/ProtocoloTCP/build/
/Servicios y Procesos/EXAMENetBeansSergioMoreno/nbproject/private/
/Servicios y Procesos/EXAMENetBeansSergioMoreno/build/
/Servicios y Procesos/EXAMENnetbeansSergioMoreno/nbproject/private/
/Servicios y Procesos/EXAMENnetbeansSergioMoreno/build/
/Servicios y Procesos/asd/nbproject/private/
/Servicios y Procesos/asd/build/
/DesarrolloDeInterfaces/NetBeans/T01netbeansSergioMoreno/nbproject/private/
/DesarrolloDeInterfaces/NetBeans/T01netbeansSergioMoreno/build/
/DesarrolloDeInterfaces/NetBeans/T01netBeansSergioMoreno/nbproject/private/
/DesarrolloDeInterfaces/NetBeans/DesktopApplicationPrueba/nbproject/private/
/DesarrolloDeInterfaces/NetBeans/T01netBeansSergioMoreno/build/
/DesarrolloDeInterfaces/NetBeans/DesktopApplicationPrueba/build/
/DesarrolloDeInterfaces/NetBeans/T01netbeansSergio/nbproject/private/
/DesarrolloDeInterfaces/NetBeans/T01netbeansSergio/build/
/Servicios y Procesos/ProtocoloTCP/dist/
/DesarrolloDeInterfaces/QtDesigner/T2_PracticaTema/Practica_T2XML/nbproject/private/
/DesarrolloDeInterfaces/QtDesigner/T2_PracticaTema/Practica_T2XML/build/
/DesarrolloDeInterfaces/QtDesigner/T2_PracticaTema/Practica_Chat/nbproject/private/
/Servicios y Procesos/Practica_Chat/build/
/LibreConfiguracion/TrabajoPong/nbproject/private/
/DesarrolloDeInterfaces/QtDesigner/Moreno_antequera_Sergio_DI02_Tarea/build/
/DesarrolloDeInterfaces/NetBeans/U03-Parte01/nbproject/private/
/DesarrolloDeInterfaces/NetBeans/U03-Caso1_BeanConJPanel_B/nbproject/private/
/DesarrolloDeInterfaces/NetBeans/U03-Caso1_BeanConJPanel_B_Prueba/nbproject/private/
/DesarrolloDeInterfaces/NetBeans/U03-Caso1_BeanConJPanel_B/build/
/DesarrolloDeInterfaces/NetBeans/U03-Caso1_BeanConJPanel_B/dist/
/DesarrolloDeInterfaces/NetBeans/U03-Caso1_BeanConJPanel_B_Prueba/build/