/NetBeans-espaciodetrabajo/nbproject/private/
/NetBeans-AccesoADatos/nbproject/private/
/NetBeans-ServiciosyProcesos/nbproject/private/
/ServiciosyProcesos-Layout/nbproject/private/
/ServiciosyProcesos-Layout/build/
/AccesoADatos/Ejercicios.T2/nbproject/private/
/AccesoADatos/Ejercicios.T2/build/
/AccesoADatos/AccesoAFicherosXML/nbproject/private/
/Servicios y Procesos/Tema01.Ejemplos/nbproject/private/
/Servicios y Procesos/Tema01.Ejemplos/build/
/AccesoADatos/AccesoAFicherosXML/build/
/LibreConfiguracion-Layout/nbproject/private/
/LibreConfiguracion-Layout/build/
/LibreConfiguracion-Layout/dist/
/Servicios y Procesos/hilosNetBeans/JavaApplication2/nbproject/private/
/Servicios y Procesos/hilosNetBeans/JavaApplication2/build
/Servicios y Procesos/hilosNetBeans/nbproject/private/
/Servicios y Procesos/hilosNetBeans/build/