/NetBeans-espaciodetrabajo/nbproject/private/
/NetBeans-AccesoADatos/nbproject/private/
/NetBeans-ServiciosyProcesos/nbproject/private/
/ServiciosyProcesos-Layout/nbproject/private/
/ServiciosyProcesos-Layout/build/
/AccesoADatos/Ejercicios.T2/nbproject/private/
/AccesoADatos/Ejercicios.T2/build/
/AccesoADatos/AccesoAFicherosXML/nbproject/private/
/Servicios y Procesos/Tema01.Ejemplos/nbproject/private/
/Servicios y Procesos/Tema01.Ejemplos/build/